// $black: #222;
// $green: #2E8922;
// $mute: #333;
// $grey: #ddd;
// $darkGrey: #444;
$body_text_color: #111;
$link_color: #369;
$link_active_color: #369;
$link_visited_color:  darken($link_color, 20%);
