.error {
  width: 400px;
  margin: 100px auto;
  font-family: 'Droid Serif', sans-serif;
}
.error h1 > .code {
  border-right: solid 5px #2E8922;
  padding-right: 10px;
  margin-right: 10px;
  color: #2e8922;
}
