/* ===== Initializr Styles =====================================================
   Author: Jonathan Verrecchia - verekia.com/initializr/responsive-template
   ========================================================================== */
body {
  font: 16px/26px Helvetica, Helvetica Neue, Arial;
}
.wrapper {
  width: 90%;
  margin: 0 5%;
}
::-moz-selection {
  background: #f16529;
  color: #fff;
  text-shadow: none;
}
::selection {
  background: #f16529;
  color: #fff;
  text-shadow: none;
}
/* ==============
    MOBILE: Menu
   ============== */
/* ==============
    MOBILE: Main
   ============== */
#main {
  padding: 30px 0;
}
#main article h1 {
  font-size: 2em;
}
#main aside#about {
  padding: 0px 5% 10px;
}
#footer-container footer {
  padding: 20px 0;
}
/* ===============
    ALL: IE Fixes
   =============== */
.ie7 #title {
  padding-top: 20px;
}
#donations .donation .date {
  text-decoration: underline;
  font-weight: bold;
}
#donations .donation .text {
  font-style: italic;
}
#donations .donation .amount {
  font-weight: bold;
  text-align: center;
}
