#donations-page .subheading {
  color: #666;
}
#donations-page .no-donations {
  background-color: #dff0d8;
  padding: 5%;
  text-align: center;
  width: 80%;
  margin: auto;
  color: #468847;
}
#donations-page .donation {
  line-height: 4em;
  position: relative;
}
#donations-page .donation aside {
  padding: 0;
}
#donations-page .donation aside.date {
  float: left;
  width: 10%;
  font-size: 2em;
  line-height: 1;
  color: #999;
  text-decoration: none;
  font-weight: bold;
}
#donations-page .donation .text {
  width: 76%;
  margin-left: 2%;
  margin-right: 2%;
  float: left;
  font-size: 150%;
  color: #555;
  line-height: 1;
  font-style: normal;
}
#donations-page .donation .amount {
  width: 10%;
  float: left;
  font-size: 2em;
  line-height: 2em;
  display: block;
  text-align: center;
  background-color: #3A87AD;
  color: white;
}
