.image-box {

	&.stack-2 {
		figure {
			width: 45%;
			float: left;
		}
	}


	figure {
		margin: 0px 10px;

	}

	figcaption {
		font-size: 80%;
		text-align: center;
		color: #666;
	}

	a.img-larger {
		display: block;
		margin: 5px auto;
	}
}


blockquote {
	border: none;
	border-left: solid 3px #444;
	padding-left: 5%;
	margin: 0;
	color: #888;
	line-height: 1.5;
	font-size: 130%;
}

@media only screen and (max-width: 768px) {
	blockquote {
		font-size: 100%;
	}
}

