#post {
	
	.image-box {
		margin-top: 5%;
		margin-bottom: 5%;
		img {
			border: solid 5px #DDD;
		}

		& + * {
			clear: both
		}

		&.stack-2 {
			figure {
				img {
					width: 100%;
				}

				width: 48%;
				float: left;
				margin-left: 2%;
			}
		}
	}
}

/* Global styles for figcaption elements */
figcaption {
	font-family: 'Droid Serif', serif;
	text-align: center;
	color: #333;
	font-style: italic;
	padding: 2% 0px 5%;
	font-size: 14px;
}

/* 'Open full-size links' */
.img-larger {
	i {
		text-decoration: none;
	}

	color: #666 !important;
	display: block;
	text-decoration: none;
	font-style: normal;
	padding: 2%;

	.transition();

	&:hover {
		color: #000 !important;
		font-size: 18px;
	}
}