@black: #222;
@green: #2E8922;
@mute: #333;
@grey: #ddd;
@darkGrey: #444;

body {
	margin: 0; padding: 0;
	background-color: white;
	font-family: sans-serif;
	font-size: 16px;
}

header {
	margin-bottom: 1.5em;


	h1 {
		font-size: 1.5em;
		font-family: sans-serif;
		font-weight: bold;
		display: inline;

		a {
			color: @black;
			text-decoration: none;
		}
	}

	nav {
		display: inline-block;
		margin-left: 1em;
		ul { margin: 0; padding: 0; list-style: none; }
		li { display: inline; }
		a {
			color: @mute;
			font-size: 1.5em;
			padding-right: .75em;
		}
	}

	hr {
		border-top: solid @green 5px;
		color: transparent;
	}
}

aside#about {
	display: none;
	margin: 2% auto;
	font-size: .9em;
	color: @mute;
}

#archive {
	display: none;
}

.container {
	width: 90%;
	margin: 2% auto;
}

footer {
	border-top: solid 1px @grey;

	.contact {
		float: left;
		width: 45%;
		font-size: 90%;
		color: @mute;

		a, a:active, a:visited {
			color: @darkGrey;
		}

		.rss {
			line-height: 1.6;
		}
	}

	.contact:last-child {
		text-align: right;
	}
}

@media only screen and (min-width: 768px) {
	.container { width: 65%; }
	aside#about { display: block; }
	#archive { display: block; }
	.post header { margin-top: 1.5em; }
}

@media only screen and (min-width: 1440px) {
	.container { width: 50%; }
}

.pull-right {
	float: right;
	display: inline-block;
}
