/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
.header-page-layout {
  float: left;
  min-width: 64px;
  width: 15%;
  border-bottom: none;
}
.header-page-layout nav {
  margin-left: 0;
}
.header-page-layout nav li {
  float: none;
}
.header-page-layout nav li a,
.header-page-layout nav li a:active,
.header-page-layout nav li a:visited {
  padding: 3px 5px;
}
.main-page-layout {
  float: left;
  width: 80%;
}
.main-page-layout #main {
  margin-left: 2%;
  padding-left: 3%;
  border-left: dashed 5px #EEEEEE;
}
/* =============================================================================

   Media Queries
   ========================================================================== */
@media only screen and (min-width: 480px) {
  /* ====================
      INTERMEDIATE: Menu
     ==================== */
  /* ========================
      INTERMEDIATE: IE Fixes
     ======================== */
  nav ul li {
    display: inline;
  }
  .oldie nav a {
    margin: 0 0.7%;
  }
}
@media only screen and (min-width: 768px) {
  /* ====================
      WIDE: CSS3 Effects
     ==================== */
  /* ============
      WIDE: Menu
     ============ */
  #header-container {
    float: left;
    min-width: 64px;
    width: 15%;
    border-bottom: none;
  }
  #header-container nav {
    margin-left: 0;
  }
  #header-container nav li {
    float: none;
  }
  #header-container nav li a,
  #header-container nav li a:active,
  #header-container nav li a:visited {
    padding: 3px 5px;
  }
  /* ============
      WIDE: Main
     ============ */
  #main-container {
    float: left;
    width: 80%;
  }
  #main-container #main {
    margin-left: 2%;
    padding-left: 3%;
    border-left: dashed 5px #EEEEEE;
  }
}
@media only screen and (min-width: 1140px) {
  /* ===============
      Maximal Width
     =============== */
  .wrapper {
    margin: 0 auto;
  }
}
