@import url('projects.less');

#post {

	a.heading {
		text-decoration: none;
	}

	h1 {
		margin-bottom: 5px;
	}
	
	.meta {
		font-style: italic;
		color: #666;
		margin-top: 0px
	}

	.links {
		&, li {
			margin: 0;
			padding: 0px;
			list-style: none;
		}

		li {
			display: inline;
			padding: 0px 5px;

			a, a:active, a:visited {
				color: #666;
				font-size: 90%;
			}

			&:first-child {
				padding-left: 0;
			}
		}
	}

	text-align: justify;


		img {
			width: 96%;
			background-color: #EFEFEF;
			border: solid 1px #DDD;
			padding: 2%;
			margin: 2% auto;
		}

	p, li {
		line-height: 1.4;
	}

	code {
		background: #CCC;
		border-radius: 5px;
		padding: 2px 5px;
	}


	.highlight {
		width: 90%;
		padding: 5%;
		overflow: hidden;
		background: none;
		border-left: solid 5px #073642;

		code {
			background: none;
			border-radius: 0px;
		}
	}

	blockquote {
		border: none;
		border-left: solid 3px #444;
		padding-left: 5%;
		margin: 0;
		color: #444;
	}
}