#post + footer.post-footer {
  font-family: 'Droid Serif', serif;
  line-height: 1.5;
  font-size: 14px;
  padding-top: 20px;
  padding-bottom: 20px;
  border-top: dotted 1px #999;
}
#post + footer.post-footer .license {
  padding-top: 10px;
  font-size: 12px;
}
#post + footer.post-footer .license a[rel=license] {
  text-decoration: none;
}
#post + footer.post-footer .license a {
  color: #369;
}
