@import url('projects.less');
@import url('components.less');
@black: #222;
@mute: #333;
@grey: #ddd;

.post {

	header {
		a {
			color: @black;
			text-decoration: none;

			&:hover {
				text-decoration: underline;
			}
		}
	}

	.meta {
		font-style: italic;
		color: @mute;
	}

	p, li {
		line-height: 1.75;
	}

	img {
		width: 96%;
		background-color: #EFEFEF;
		border: solid 1px @grey;
		padding: 2%;
		margin: 2% auto;
	}


	code {
		background: #CCC;
		border-radius: 5px;
		padding: 2px 5px;
	}


	div.highlight {
		width: 90%;
		padding: 5%;
		overflow: hidden;
		background: none;
		border-left: solid 5px #073642;

		code {
			background: none;
			border-radius: 0px;
		}
	}

	blockquote {
		border: none;
		border-left: solid 3px #444;
		padding-left: 5%;
		margin: 0;
		color: #444;
	}
}