#post + footer.post-footer {
	font-family: 'Droid Serif', serif;
	line-height: 1.5;
	font-size: 14px;

	padding-top: 20px;
	border-top: dotted 1px #999;

	.license {
		padding-top: 10px;
		font-size: 12px;

		a[rel=license] {
			text-decoration: none;
		}

		a {
			color: #369;
		}
	}
}