---
layout: default
meta_description: "Technically-oriented blog covering all kinds of web and mobile development with a focus on Ruby on Rails"
---

{% for post in site.posts %}
{%if post.type == "quote" %}
<article class="quote index">
  <p>
    {{post.content}}
  </p>
</article>
{% else %}
<article class="card card-with-actions">
  <header>
    <a class="card-primary-text" href="{{ post.url }}">{{ post.title }}</a>
  </header>

  {% if post.featured_image %}
    <a href="{{ post.url }}" class="card-image">
      <img src="{{ post.featured_image }}" />
    </a>
  {% endif %}

  <p class="card-text">
    {{ post.content | strip_html | truncatewords:50 }}
  </p>

  <div class="actions">
    <a class="card-btn read-more-btn" href="{{post.url}}">Read more</a>
  </div>
</article>
{% endif %}
{% endfor %}

