---
layout: default
meta_description: "A listing of all the blog posts I've done, including featured posts and my contact information"
---

{% for post in site.posts limit:5 %}
<article class="post index">
  <header>
    <h2>
      <a href="{{ post.url }}">{{ post.title }}</a>
    </h2>
  </header>

  <p>{{ post.content | strip_html | truncatewords:50 }}</p>
  <p>
    <a class="read-more" href="{{ post.url }}">Read more &raquo;</a>
  </p>
</article>
{% endfor %}

<div id="archive">
	<h1>Archive</h1>
	<ul class="posts">
  		{% for post in site.posts %}
  			<li><a href="{{ post.url }}">{{ post.title }}</a></li>
  		{% endfor %}
	</ul>
</div>
