<footer class="container">
  <div style="display: flex; justify-content: center; align-items: center;border-radius: var(--pico-border-radius); border: 1px solid var(--pico-color-grey-100);gap: 1rem;margin-bottom:2rem;padding: 1rem;">
    <img src="/img/profile.jpg" width="140" height="140" alt="Profile image" style="max-width:25%;clip-path: polygon(23% 6%, 8% 34%, 5% 56%, 15% 71%, 3% 89%, 22% 97%, 57% 100%, 80% 88%, 84% 66%, 91% 50%, 97% 39%, 76% 16%, 59% 6%);" />
    <div>
      Hi&mdash;I'm <strong>Josh McArthur</strong>, a web developer specializing in Ruby on Rails. I contribute code
      on <a href="https://github.com/joshmcarthur">GitHub</a> and write blog posts about
      technology and hiking here.

      {% include navigation.html %}
    </div>
  <div>
</footer>