#container {
  max-width: 200px;
  margin: 10px;
  padding: 5px;
  font-size: 11px;
  font-family: sans-serif;
}

h1 { margin: 0; margin-bottom: 8px; font-size: 16px; }
ul li a {
  text-decoration: none;
  border-bottom: dotted 1px #000;
  line-height: 14px;
  color: #000;
}

ul li a:hover {
  border-bottom: solid 1px #000;
}

