/*---------------------------------------------------
    LESS Elements 0.6
  ---------------------------------------------------
    A set of useful LESS mixins by Dmitry Fadeyev
    Special thanks for mixin suggestions to:
      Kris Van Herzeele,
      Benoit Adam,
      Portenart Emile-Victor,
      Ryan Faerman

    More info at: http://lesselements.com
-----------------------------------------------------*/
#post .image-box {
  margin-top: 5%;
  margin-bottom: 5%;
}
#post .image-box img {
  border: solid 5px #DDD;
}
#post .image-box  + * {
  clear: both;
}
#post .image-box.stack-2 figure {
  width: 48%;
  float: left;
  margin-left: 2%;
  -webkit-transition: all 0.5s ease-out;
  -moz-transition: all 0.5s ease-out;
  transition: all 0.5s ease-out;
}
#post .image-box.stack-2 figure img {
  width: 100%;
}
#post .image-box.stack-2 figure:hover {
  width: 96%;
}
/* Global styles for figcaption elements */
figcaption {
  font-family: 'Droid Serif', serif;
  text-align: center;
  color: #333;
  font-style: italic;
  padding: 2% 0px 5%;
  font-size: 14px;
}
/* 'Open full-size links' */
.img-larger {
  color: #666 !important;
  display: block;
  text-decoration: none;
  font-style: normal;
  padding: 2%;
  -webkit-transition: all 0.2s ease-out;
  -moz-transition: all 0.2s ease-out;
  transition: all 0.2s ease-out;
}
.img-larger i {
  text-decoration: none;
}
.img-larger:hover {
  color: #000 !important;
  font-size: 18px;
}
