@mixin button-base {
  display: inline-block;
  line-height: $baseline-grid * 4.5;
  min-width: $baseline-grid * 8;
  margin-left: $baseline-grid;
  padding: 0 $baseline-grid;
  text-transform: uppercase;
  text-decoration: none;
  font-size: $typography-grid * 3.5;
  font-weight: 500;
  color: $black;

  &:first-child {
    margin-left: 0;
  }

  &:hover {
    background: rgba(153, 153, 153, 0.2);
  }

  &:active {
    background: rgba(153, 153, 153, 0.4);
  }

  &[disabled] {
    @include text-importance(hint);
  }
}

.read-more-btn {
  @include button-base;
}

