.card {
  box-shadow: 0 1px 3px rgba(0,0,0,0.12), 0 1px 2px rgba(0,0,0,0.24);
  position: relative;
  border-radius: 2px;
  background: $white;
  padding: $baseline-grid * 2;
  margin: $baseline-grid * 2 auto;
}

.card-with-actions {
  padding-bottom: 0;
  &:after {
    @include clearfix;
  }

  .actions {
    margin-top: $baseline-grid;
    margin-bottom: $baseline-grid;
    margin-left: -$baseline-grid;
  }
}

.card-primary-text {
  display: block;
  font-size: $typography-grid * 6;
  padding-top: $baseline-grid * 3;
  padding-bottom: $baseline-grid * 2;
  text-decoration: none;
  color: $black;
}

.card-text {
  display: block;
  margin: 0;
  padding-bottom: $baseline-grid * 2;
}


