.card {
  position: relative;
  background: $white;
  border: solid 0.25rem #DDD;
  padding: $baseline-grid * 2;
  margin: $baseline-grid * 2;
  overflow: hidden;
  border-radius: 1rem;
  border-top-left-radius: 0;
  border-bottom-right-radius: 0;
}

.card-with-actions {
  padding-bottom: 0;
  &:after {
    @include clearfix;
  }

  .actions {
    margin-top: $baseline-grid;
    margin-bottom: $baseline-grid;
    margin-left: -$baseline-grid;
    background: $white;

  }
}

.card-primary-text {
  display: block;
  margin: 0;
  padding-bottom: $baseline-grid;
  text-decoration: none;
  color: $black;
}

.card-subtitle {
  font-size: $typography-grid * 4;
  padding-top: $baseline-grid;
  @include text-importance(secondary);
}

.card-text {
  display: block;
  margin: 0;
  padding-bottom: $baseline-grid * 2;
}

.card.quote {
  padding-bottom: 0;
}

.card-list {
  margin: -$baseline-grid * 2 auto;
}