.card-image {
  @include mobile {
    width: 110%;
    display: block;
    margin: -16px -5% 0 -5%;
  }
}

.card-image + .card-primary-text {
  @include desktop {
    padding-bottom: 8px;
    position: absolute;
    bottom: $baseline-grid * 5.5;
    width: 100%;
    background: $white;
  }
}

