.card {
  position: relative;
  background: $white;
  padding: $baseline-grid;
  margin: $baseline-grid * 2 auto;
  overflow: hidden;
  width: 90%;
  border-bottom: 1px solid rgba(0,0,0,.05);

  @include desktop {
    width: 60%;
  }
}

.card-with-actions {
  padding-bottom: 0;
  &:after {
    @include clearfix;
  }

  .actions {
    margin-top: $baseline-grid;
    margin-bottom: $baseline-grid;
    margin-left: -$baseline-grid;
    background: $white;

    // @include desktop {
    //   position: absolute;
    //   bottom: 0px;
    //   width: 100%;
    //   padding: $baseline-grid 0;
    //   margin-bottom: 0;
    // }
  }
}

.card-primary-text {
  display: block;
  @include title-font;
  padding-top: $baseline-grid * 3;
  padding-bottom: $baseline-grid * 2;
  text-decoration: none;
  color: $black;
  @include desktop {
    font-size: 21px;
  }
}

.card-subtitle {
  font-size: $typography-grid * 4;
  padding-top: $baseline-grid;
  @include text-importance(secondary);
}

.card-text {
  display: block;
  margin: 0;
  padding-bottom: $baseline-grid * 2;
}

.card.quote {
  padding-bottom: 0;
}

