.card-list {
  @include desktop {
    .card {
      display: inline-block;
      width: 25%;
      overflow: hidden;
      height: $baseline-grid * 33;
      margin: $baseline-grid * 2 $baseline-grid;
    }
  }
}

