.content {
  background: rgba(243,243,243,1);
  padding: $baseline-grid * 2;
  padding-top: $baseline-grid * 7;
}

.expanded-toolbar + .content .card:first-child {
  margin-top: -($baseline-grid * 7) * 3;
}
