.pagination {
  display: flex;
  margin: auto;
  width: 100%;
  
  @include sans-serif;
  @include desktop {
    width: 60%;
  }
  
  .page_number {
    flex: 1;
    vertical-align: middle;
    align-self: center;
    text-align: center;
    font-size: 90%;
  }
}