.post {
  background: #ebefee;
  border-left: solid 2px #DDD;
  border-right: solid 2px #DDD;
  margin: -5rem auto;
  min-height: 100vh;
  padding: 5rem 2rem;
}

.post-content {
  padding: $baseline-grid * 2;
  img {
    width: 100%;
    margin: 2rem auto;
    display: block;
  }
}

.hero-image {
  min-height: 200px;
  background-position: 50%;
  background-size: 100%;
  background-repeat: no-repeat;

  @include large-screen {
    min-height: 400px;
  }
}

.related-posts {
  width: 70%;
  margin: auto;
}