.profile {
  width: 90%;
  margin: auto;
  display: block;
  padding: $baseline-grid;

  @include large-screen {
    width: 70%;
  }

  &:after{
    @include clearfix;
  }
}

.profile-text {
  @include sans-serif;
  background: #efefef;
  padding: 1rem;
  font-size: 1rem;
}

.profile-image {
  width: 200px;
  max-width: 100%;
  border-radius: 50%;
  height: auto;
  display: block;
  margin: auto;
}

.post-title {
  @include title-font;
  padding: 0 $baseline-grid * 2;
}