.profile {
  width: 90%;
  margin: auto;
  display: block;
  transition: opacity 1s;
  padding: $baseline-grid;

  @include desktop {
    width: 70%;
    @include text-importance(secondary);
    &:hover {
      opacity: 1;
    }
  }

  &:after{
    @include clearfix;
  }
}

.profile-text {
  @include sans-serif;
  padding: $baseline-grid;
  &::after {
    @include clearfix;
  }
}

.profile-image {
  width: 36px;
  border-radius: 50%;
  height: auto;
  float: left;
  margin: $baseline-grid;
  margin-left: 0;

  @include desktop {
    width: 56px;
    margin: 0;
    margin-right: $baseline-grid;
  }
}

.post-title {
  @include title-font;
  padding: 0 $baseline-grid * 2;
}