.toolbar {
  $shadow-size: $baseline-grid;
  background: $primary-colour;
  box-shadow: 0 $baseline-grid / 2 $baseline-grid /2 rgba(0,0,0,0.26);
  padding-left: $baseline-grid * 7;
  position: fixed;
  top: 0;
  width: 100%;
}

.expanded-toolbar {
  height: ($baseline-grid * 7) * 3;
  box-shadow: none;
  position: static;
}
