.container {
  width: 90%;
  margin: 2% auto;
}

#header {
  margin-bottom: 1.5em;

  .title {
    text-decoration: none;

    h1 {
      font-size: 1.5em;
      font-family: sans-serif;
      font-weight: bold;
    }
  }

}

#footer {

}

