<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">
<head>
   <meta http-equiv="content-type" content="text/html; charset=utf-8" />
   <title>
      {% if page.title %}
        {{ page.title }} -
      {% endif %}
      josh mcarthur
    </title>
    <meta name="author" content="Joshua McArthur" />

    {% if page.meta_description %}
      <meta name="description" content="{{page.meta_description}}" />
    {% else %}
      <meta name="description" content="{{ content | strip_html | truncatewords:30 }}" />
    {% endif %}

   {% if page.tags %}
    <meta name="keywords" content="{{ page.tags }}" />
   {% endif %}

   <link href="http://feeds.feedburner.com/sudojosh" rel="alternate" title="Josh McArthur" type="application/atom+xml" />

   <link rel="stylesheet" href="/css/blog.css" type="text/css" media="screen, projection" />

   <!-- Extra stylesheets, can be included by posts -->
   {% for stylesheet_url in page.stylesheets %}
   <link rel="stylesheet" href="{{ stylesheet_url }}" type="text/css" media="screen,projection" />
   {% endfor %}

   <!-- Set up the viewport for mobile devices -->
   <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
   <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

   <!-- Chrome for Android title color -->
   <meta name="theme-color" content="#388E3C">
</head>
<body>

<header class="toolbar">
  <div class="profile">
    <img src="/img/profile.jpg" class="profile-image" />
    <div class="profile-text">
      I'm <strong>Josh McArthur</strong>, a web developer specializing in Ruby on Rails and Phoenix. 
      I contribute code on <a href="https://github.com/joshmcarthur">GitHub</a> and write blog posts about technology and tramping here.
    </div>
  </div>
</header>

<div class="content container">
  {{ content }}
</div>


<!-- Extra scripts, can be included by posts -->
{% for script_url in page.scripts %}
  <script src="{{ script_url }}"></script>
{% endfor %}

<!-- Google Analytics -->
<script type="text/javascript">
var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
</script>
<script type="text/javascript">
var pageTracker = _gat._getTracker("UA-17014575-2");
pageTracker._trackPageview();
</script>
<!-- Google Analytics end -->

</body>
</html>
