<!DOCTYPE html>
<html itemscope itemtype="http://schema.org/Article" xmlns="http://www.w3.org/1999/xhtml" xml:lang="en" lang="en-us">

<head>
  <meta http-equiv="content-type" content="text/html; charset=utf-8" />
  <title>
    {% if page.title %} {{ page.title }} - {% endif %} {{site.title}}
  </title>
  <meta itemscope="publisher" content="Joshua McArthur" />
  <meta name="author" itemscope="author" content="Joshua McArthur" /> {% if page.tags %}
  <meta name="keywords" content="{{ page.tags }}" /> {% endif %}

  <link href="{{site.url}}/feed/" rel="alternate" title="Josh McArthur" type="application/atom+xml" />

  <link rel="stylesheet" href="/css/blog.css" type="text/css" media="screen, projection" />

  <!-- Extra stylesheets, can be included by posts -->
  {% for stylesheet_url in page.stylesheets %}
  <link rel="stylesheet" href="{{ stylesheet_url }}" type="text/css" media="screen,projection" /> {% endfor %}

  <!-- Set up the viewport for mobile devices -->
  <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
  <meta name="viewport" content="width=device-width, minimum-scale=1.0, maximum-scale=1.0">

  <!-- Chrome for Android title color -->
  <meta name="theme-color" content="#388E3C">

  <!-- Social sharing -->

  <!-- Titles -->
  <meta name="twitter:card" content="summary"> {% if page.title %}
  <meta name="twitter:title" content="{{ page.title }}">
  <meta itemprop="name" content="{{ page.title }}">
  <meta property="og:title" content="{{ page.title }}" /> {% else %}
  <meta name="twitter:title" content="Notes: Josh McArthur">
  <meta itemprop="name" content="Notes: Josh McArthur">
  <meta property="og:title" content="Notes: Josh McArthur" /> {% endif %}
  <meta name="twitter:creator" content="@sudojosh">

  <!-- Descriptions -->
  {% if page.meta_description %}
  <meta itemprop="description" name="description" content="{{page.meta_description}}" />
  <meta property="og:description" content="{{ page.meta_description }}" />
  <meta name="twitter:description" content="{{ page.meta_description }}"> {% else %}
  <meta itemprop="description" name="description" content="{{ page.content | strip_html | truncatewords:30 }}" />
  <meta property="og:description" content="{{ page.content | strip_html | truncatewords:30 }}" />
  <meta name="twitter:description" content="{{ page.content | strip_html | truncatewords:30 }}"> {% endif %}

  <!-- Images -->
  {% if page.featured_image %}
  <meta itemprop="image" content="{{ page.featured_image | absolute_url }}">
  <meta property="og:image" content="{{ page.featured_image | absolute_url }}" />
  <meta name="twitter:image:src" content="{{ page.featured_image | absolute_url }}"> {% endif %}

  <!-- Open Graph data -->
  <meta property="og:type" content="article" />
  <meta property="og:url" content="{{ page.url }}" />
  <meta property="og:site_name" content="Josh McArthur" /> {% if page.date %}
  <meta itemscope="datePublished" content="{{ page.date }}" />
  <meta property="article:published_time" content="{{ page.date }}" />{% endif %} {% if page.category %}
  <meta property="article:section" content="{{ page.category }}" />{% endif %} {% if page.tags %}
  <meta property="article:tag" content="{{ page.tags }}" /> {% endif %}
</head>

<body>
  <header class="sidebar">
    <div class="profile">
    <img src="/img/profile.jpg" width="200" height="200" alt="Profile image" class="profile-image" />
    <div class="profile-text">
      I'm <strong>Josh McArthur</strong>, a web developer specializing in Ruby on Rails and Phoenix. I contribute code
      on <a href="https://github.com/joshmcarthur">GitHub</a> and write blog posts about
      technology and hiking here.
    </div>
    </div>
  </header>

  <main class="content container">
    {{ content }}
  </main>




  <!-- Extra scripts, can be included by posts -->
  {% for script_url in page.scripts %}
  <script src="{{ script_url }}"></script> {% endfor %}

  <!-- Google Analytics -->
  <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
  </script>
  <script type="text/javascript">
    var pageTracker = _gat._getTracker("UA-17014575-2");
    pageTracker._trackPageview();
  </script>
  <!-- Google Analytics end -->

  <!-- Instant.page -->
  <script src="//instant.page/1.1.0" type="module" integrity="sha384-EwBObn5QAxP8f09iemwAJljc+sU+eUXeL9vSBw1eNmVarwhKk2F9vBEpaN9rsrtp"></script>
  <!-- Instant.page end -->

</body>

</html>
