---
layout: default
---

<main class="container">
  <section>
    <a href="/posts" rel="prev">&larr; All Posts</a>
  </section>

  <h1>{{ page.title }}</h1>

  <main>
    {% if page.featured_image %}
      <section class="grid">
        {% for image in page.featured_image %}
          <figure class="grid">
            <img src="{{ image }}" />
          </figure>
        {% endfor %}
      </section>
    {% endif %}

    <section>{{ content }}</section>
  </main>

  {% if page.projects %}
  <footer id="projects" class="card">
    <div class="card-primary-text">
      Referenced Projects
    </div>

    <ul>
      {% for project in page.projects %}
      <li>
        <a href="{{ project.url }}">{{ project.name }}</a>
        <p>
          {{ project.description }}
        </p>
      </li>
      {% endfor %}
    </ul>
  </footer>
  {% endif %}
</main>

{% include footer.html %}

