$primary-colour: #4CAF50;
$dark-primary-colour: #388E3C;
$accent-color: #795548;
$black: rgba(0, 0, 0, 0.92);
$white: #ebefee;

@mixin text-importance($role) {
  @if $role == secondary {
    opacity: 0.54;
  }

  @else if $role == hint {
    opacity: 0.26;
  }

  @else {
    opacity: 0.87;
  }
}
