@import url('https://fonts.googleapis.com/css?family=Merriweather+Sans|Merriweather:400,400i,700');

@mixin sans-serif {
  font-family: 'Merriweather Sans', serif; 
}

@mixin sans {
  font-family: 'Merriweather', 'Georgia', 'Times New Roman', sans-serif;
}

@mixin title-font {
  @include sans-serif;
  font-size: 200%;
}

body {
  @include sans;
  font-size: $base-font-size;
  -webkit-font-smoothing: antialiased;

  @include desktop {
    font-size: $typography-grid * 4;
  }
}
