@mixin title-font {
  font-weight: 500;
  font-size: $typography-grid * 5;
}

body {
  font-family: 'Roboto', 'Noto', sans-serif;
  font-size: $typography-grid * 3.5;
  -webkit-font-smoothing: antialiased;

  @include desktop {
    font-size: $typography-grid * 4;
  }
}
